<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="APP_NAME" value="intelligent-interview-backend"/>
    <property name="LOG_PATH" value="./log"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="LOG_PATTERN_COLOR" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_COLOR}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>8MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}-error.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-error%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>8MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="OUTBOX_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/outbox.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/outbox%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="OUTBOX_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/outbox-error.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/outbox-error%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <springProfile name="dev,local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
        <logger name="com.josh.interviewj" level="DEBUG"/>
        <logger name="org.springframework.security" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
        <logger name="com.josh.interviewj.resume.consumer.ResumeParseConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.knowledgebase.consumer.KbDocumentConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.resume.consumer.ResumeAnalysisConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.common.stream.RedisStreamService" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
        <logger name="com.josh.interviewj" level="INFO"/>
        <logger name="org.springframework.security" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="com.josh.interviewj.resume.consumer.ResumeParseConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.knowledgebase.consumer.KbDocumentConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.resume.consumer.ResumeAnalysisConsumer" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
        <logger name="com.josh.interviewj.common.stream.RedisStreamService" additivity="false">
            <appender-ref ref="OUTBOX_FILE"/>
            <appender-ref ref="OUTBOX_ERROR_FILE"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.josh.interviewj" level="DEBUG"/>
    </springProfile>

</configuration>
